.newsCard {
    padding: 20px;
    display: block;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 10px;
    margin-left: 15px;
    /* margin: 20px; */
    width: 970px;


}

.newsCard h2 {
    color: #4A76A8;
}

.newsHeader {
    color: #4A76A8;
}

.newsInfo {
    display: block;
}

.newsInfo img{
    border-radius: 30px;   
    max-width: 900px; 
    max-height: 500px;
}

.newsInfo p{
    color: #4A76A8;
    display: block;
    font-size: 180%;
}

.options {
    margin-top: 10px;
    margin-left: 10px;
    padding: 0px;
    width: 580px;
    border-radius: 10px;
    background-color: #fff;
}

.optionsTogether {
    display: flex;
}

.optionsLabel {
    color: #4A76A8;
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    background-color: #fff;
}

.optionsLabel svg {
    width: 320px;
    height: 320px;
    margin-top: 60px;
    margin-left: 30px;
}

.optionsLabel h1 {
    width: 400px;
    font-size: 350%;
    margin-left: 5px;
    line-height: 3.4rem;
    margin-top: 0px;
    position: absolute;
    color: #4A76A8;
}

.optionstitle {
    color: #4A76A8;
    display: flex;
}

.optionstitle svg {
    margin-top: 10px;
    width: 250px;
    height: 240px;
    margin-left: 30px;
}

.optionstitle h1{
    font-size: 350%;
    color: #4A76A8;
    margin-left: 80px;
    margin-top: -5px;
}


.inputGroup1 {
    display: flex;
    margin-top: 60px;
}

.inputGroup1 select{
    margin-left: 10px;
    padding-left: 30px;
    width: 560px;
    height: 50px;
    font-size: 200%;
    border-radius: 20px;
    background-color: #4a76a8;
    color: #fff;
}

.inputGroup1 select:hover {
    cursor: pointer;
    filter: opacity(80%);
}

.inputGroup2 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputGroup2 select{
    margin-left: 10px;
    padding-left: 30px;
    width: 560px;
    height: 50px;
    font-size: 200%;
    border-radius: 20px;
    background-color: #4a76a8;
    color: #fff;
}

.inputGroup2 select:hover {
    cursor: pointer;
    filter: opacity(80%);
}

