.notifyForm {
    display: block;
    position: absolute;
    top: 60px;
    margin-left: 665px;
    width: 430px;
    max-width: 470px;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,.3);
    background-color: rgb(249, 249, 249);
    border: 1px solid rgb(233, 233, 233);
    transition: opacity 100ms linear,top 100ms linear,visibility 100ms linear;
}