.notifyInformationHeader {
    display: flex;
    background-color: #4A76A8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.notifyInformationHeader h3 {
    margin-left: 25px;
    color: #fff;
}

.notifyInformationHeader svg {
    margin-top: 20px;
    margin-left: 380px;
    width: 20px;
    height: 20px;
}

.notifyInformationHeader svg:hover {
    cursor: pointer;
    filter: opacity(80%);
}

.notifyInformationAfterHeader {
    display: block;
    background-color: #FAFBFC;
}

.notifyInformationAfterHeader p {
    padding-left: 25px;
    font-size: 15.5px;
}

.notifyInformationAfterHeader hr {
    height: 0;
    border: none;
    border-top: 1px solid rgb(240, 236, 236);
}