.SimpleMenu {
  display: flex;
  margin-right: 15px;
  margin-top: -16px;
  padding: 10px;
  height: 60px;
  width: 100px;
}

.SimpleMenu button:focus {
  outline: none;
}

.loginblock {
  display: flex;
  height: 75px;
  margin-top: -35px;
  margin-right: 50px;
}

.loginblock img {
  margin-left: 5px;
  margin-top: 35px;
  width: 20px;
  height: 20px;
}

.loginblock svg {
  margin-left: 5px;
  margin-top: 35px;
  width: 20px;
  height: 20px;  
}

.loginblock:hover {
  background-color: #3d6898;
}

.loginblock p {
  margin-left: 15px;
  margin-top: 35px;
}

.avatar img {
  margin-top: 20px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.menuHeader {
  display: block;
}

.signedInfo p {
  margin-left: 40px;
  color: #4a76a8;
}

.menuHeader hr {
  margin: 0;
  height: 0;
  border: none;
  border-top: 1px solid rgb(240, 236, 236);
}

/* -------------------- */
.linkToProfile {
  display: flex;
  height: 30px;
}

.linkToProfile h3 {
  margin-top: 3px;
  margin-left: 100px;
  color: #4a76a8;
}

.linkToProfile svg {
  margin-top: 3px;
  margin-left: 0px;
  width: 28px;
  height: 28px;
}

/* -------------------- */
.linkToMusic {
  display: flex;
  height: 30px;
}

.linkToMusic h3 {
  margin-top: 3px;
  margin-left: 100px;
  color: #4a76a8;
}

.linkToMusic svg {
  margin-top: 3px;
  margin-left: 0px;
  width: 28px;
  height: 28px;
}

/* -------------------- */
.linkToSettings {
  display: flex;
  height: 30px;
}

.linkToSettings h3 {
  margin-top: 3px;
  margin-left: 100px;
  color: #4a76a8;
}

.linkToSettings svg {
  margin-top: 3px;
  margin-left: 0px;
  width: 28px;
  height: 28px;
}

/* -------------------- */
.linkToLogout {
  display: flex;
  height: 30px;
}

.linkToLogout h3 {
  margin-top: 3px;
  margin-left: 100px;
  color: #4a76a8;
}

.linkToLogout svg {
  margin-top: 3px;
  margin-left: 0px;
  width: 28px;
  height: 28px;
}
