.MusicPlayerPanel {
    display: flex;
    position: fixed;
    max-width: 600px;
    min-height: 80px;
    width: 100%;
    height: 85px;
    padding-bottom: 5px;
    right:0;
    bottom:0;
    z-index: 100;
    background-color: rgb(249, 249, 249);
    border-top: 1px solid rgb(233, 233, 233);
    border-left: 1px solid rgb(233, 233, 233);
    border-bottom: 1px solid rgb(233, 233, 233);
    transition: all 0.35s ease;
}

.MusicPlayerPanel:hover {
    cursor: pointer;
}

.MusicPlayerPanel.close {
    display: block;
    position: fixed;
    right:0;
    bottom:0;
    max-width: 600px;
    width: 100%;
    height: 100%;
    background-color: rgb(249, 249, 249);
    border-top: 1px solid rgb(233, 233, 233);
    border-left: 1px solid rgb(233, 233, 233);
    border-bottom: 1px solid rgb(233, 233, 233);
}

.MusicPlayerPanel h1 {
    width: 370px;
    font-size: 200%;
    /* text-align: center; */
    color: #4A76A8;
    margin-top: 20px;
    margin-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.MusicPlayerPanel.close:hover {
    cursor: default;
}

.MusicPlayerPanel.close .dropDown {
    height: 40px;
    text-align: center;
}

.MusicPlayerPanel.close .dropDown svg{
    width: 50px;
    height: 50px; 
}

.MusicPlayerPanel.close .dropDown:hover {
    cursor: pointer;
}

.MusicPlayerPanel.close .dropDown:hover svg{
    filter: opacity(70%);
}


.MusicPlayerPanel.close .avatar {
    padding: 20px 0px;
    text-align: center;
}

.MusicPlayerPanel.close .avatarIsPlaying {
    padding: 20px 0px;
    text-align: center;
}

.MusicPlayerPanel.close .avatar img {
    height: 18em;
    width: auto;
    max-height: 90%;
    max-width: 100%;
    border-radius: 4px;
}

.MusicPlayerPanel.close .avatarIsPlaying img {
    height: 18em;
    width: auto;
    max-height: 90%;
    max-width: 100%;
    margin-top: 8px;
    transform: scale(1.1);
    box-shadow: rgb(165, 165, 165) 0px 10px 30px;
    border-radius: 4px;
}

.MusicPlayerPanel.close .description {
    margin-top: 16px;
    text-align: center;
}

.MusicPlayerPanel.close .description .songName{
    color: #4A76A8;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.MusicPlayerPanel.close .description .authorNameAlbumName{
    color: #A3A3A3;
    font-weight: normal;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.MusicPlayerPanel img {
    width: 80px;
    height: 80px;
    margin-top: 5px;
    margin-left: 15px;
}

.MusicPlayerPanel.close .controlPanel {
    padding-top: 50px;
}


.controlPanel button svg {
    /* padding-top: 20px; */
    width: 50px;
    height: 50px;
    margin: 0;
}

.controlPanel button {
    background-color: #F9F9F9;
    border: none;
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.controlPanel button:hover {
    filter: opacity(70%);
    cursor: pointer;
}

.MusicPlayerPanel.close .controlPanel button {
    background-color: #F9F9F9;
    border: none;
    margin-top: 20px;
}


.MusicPlayerPanel.close .controlPanel button:hover {
    filter: opacity(70%);
    cursor: pointer;
}


.audiotrack {
    width: 150px;
    height: 3px;
    background-color: #dddddd;
    margin: 20px 0
}
 
.time {
    width: 0;
    height: 3px;
    background-color: #474747
}

.MusicPlayerPanel.close .volume {
    display: flex;
    padding: 50px;
    margin-left: 25px;
}

.MusicPlayerPanel.close .volume .unmute {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.MusicPlayerPanel.close .volume svg{
    width: 30px;
    height: 30px;
    margin-top: -10px;
}

.MusicPlayerPanel.close .volume .mute svg:hover {
    filter: opacity(70%);
    cursor: pointer;
}

.MusicPlayerPanel.close .volume .unmute svg:hover {
    filter: opacity(70%);
    cursor: pointer;
}


.MusicPlayerPanel.close .volume input{
    -webkit-appearance: none;
    width: 90%;
    border-radius:2px;
    margin-left: 5px;
    height: 5px;
    outline : none;
    border: none;
}

.MusicPlayerPanel.close .volume input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    cursor:pointer;
    border-radius: 30px;
    box-shadow: rgb(150, 150, 150) 0px 3px 3px;
    background: white;  
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    transition:.1s;
}

.MusicPlayerPanel.close .volume input::-webkit-slider-thumb:hover{
    transform: scale(1.2)
}

.MusicPlayerPanel.close .volume input::-moz-range-thumb{
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    cursor:pointer;
    border-radius: 30px;
    box-shadow: rgb(150, 150, 150) 0px 3px 3px;
    background: white;  
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    transition:.1s;
}

.MusicPlayerPanel.close .volume input::-moz-range-thumb:hover{
    transform: scale(1.2)
}

.MusicPlayerPanel.close .volume input::-ms-thumb{
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    cursor:pointer;
    border-radius: 30px;
    box-shadow: rgb(150, 150, 150) 0px 3px 3px;
    background: white;  
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    transition:.1s;
}

.MusicPlayerPanel.close .volume input::-ms-thumb:hover{
    transform: scale(1.2)
}

.MusicPlayerPanel.close .trackBar input {
    -webkit-appearance: none;
    width: 90%;
    border-radius:2px;
    margin-left: 5px;
    height: 5px;
    outline : none;
    border: none;
    background:-webkit-linear-gradient(left ,#E6E6E6 0%,#E6E6E6 50%,#E6E6E6 25%, #E6E6E6 100%);
}

.MusicPlayerPanel.close .trackBar input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 30px;
    cursor:pointer;
    border-radius: 30px;
    box-shadow: rgb(150, 150, 150) 0px 3px 3px;
    background: white;  
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    transition:.1s;
}

.MusicPlayerPanel.close .trackBar input::-webkit-slider-thumb:hover{
    transform: scale(1.2)
}

.MusicPlayerPanel.close .trackBar input::-moz-range-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 30px;
    cursor:pointer;
    border-radius: 30px;
    box-shadow: rgb(150, 150, 150) 0px 3px 3px;
    background: white;  
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    transition:.1s;
}

.MusicPlayerPanel.close .trackBar input::-moz-range-thumb:hover{
    transform: scale(1.2)
}

.MusicPlayerPanel.close .trackBar input::-ms-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 30px;
    cursor:pointer;
    border-radius: 30px;
    box-shadow: rgb(150, 150, 150) 0px 3px 3px;
    background: white;  
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    transition:.1s;
}

.MusicPlayerPanel.close .trackBar input::-ms-thumb:hover{
    transform: scale(1.2)
}

.MusicPlayerPanel.close .trackBar {
    margin-left: 60px;
    padding-top: 30px;
}

.MusicPlayerPanel.close .trackBar .time h5 {
    color: #4A76A8;
    font-size: 1.1em;
}

.MusicPlayerPanel.close .trackBar .time {
    display: flex;
}

.MusicPlayerPanel.close .trackBar .time .currentTime{
    margin-left: 5px;
}


.MusicPlayerPanel.close .trackBar .time .timeLeft {
    margin-left: 410px;
}

.shuffleAndRepeat {
    display: flex;
}

.shuffleAndRepeat button {
    background-color: #F9F9F9;
    border: none;
    margin-top: -30px;
    margin-left: 60px;
    width: 30px;
    height: 30px;
}

.shuffleAndRepeat button:hover {
    cursor: pointer;
    filter: opacity(80%);
}

.shuffleAndRepeat button svg{
    width: 50px;
    height: 50px;
}