.item {
    height: 60px;
    display: flex;
  }
  
  .item svg {
    margin-top: 15px;
    margin-left: -10px;
    width: 30px;
    height: 30px;
  }
  
  .item:hover {
    cursor: pointer;
    width: 980px;
    background-color: rgb(214, 233, 255);
  }
  
  .item h2 {
    margin-left: 10px;
    margin-top: 10px;
    min-width: 900px;
    color: #4A76A8;
  }
  
  .item:hover h2 {
    margin-left: 40px;
    color: #F62A54;
  }
  
  .item:hover svg {
    margin-left: -40px;
  }
 